<h2 class=text-center> Bonjour Linguini, quelles patisseries veux-tu choisir ?</h2>

<div class="container">
  <%= simple_form_for [@event] do |f| %>
    <% @pastries.each do |pastrie| %>
    <%= f.check_box :pastrie_id %> <%= pastrie.pastrie_name %></br>
    <% end %>
  <%= f.input :date, { ampm: true, order: [:day, :month, :year] } %>
  <%= f.submit "Valider", class: "btn btn-primary" %>
  <% end %>
</div>
