<div class=margin-bottom>
  <h2 class=text-center> Bonjour Linguini, quelles patisseries veux-tu choisir ?</h2>
</div>
<div class="container margin-bottom">
  <%= simple_form_for [@event, @fight] do |f| %>
    <% @pastries.each do |pastrie| %>
      <%= f.label :pastrie_id do %>
      <%= f.check_box :pastrie_id, as: :boolean, checked_value: true, unchecked_value: false %> <span><%= pastrie.pastrie_name%></span>
      <% end %></br>
    <% end %>
  <%= f.submit "Valider", class: "btn btn-primary" %>
  <% end %>
</div>
